* {
    font-family: 'Roboto Mono';
    background-color: #000719;
    color: #48b6ff;
}

div {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

body {
    line-height: 1.5;
}